<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805808467992-kl36foa71vot3b6tmvc6endul3edh489.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805808467992-kl36foa71vot3b6tmvc6endul3edh489</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>805808467992-427qdonlgai4877ikd6nidjrjumm9aof.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_Ajiwrbk0Yu2yu2zY89rs3rrg_fOF8Ds</string>
	<key>GCM_SENDER_ID</key>
	<string>805808467992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-94729</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-94729.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805808467992:ios:386919c94f0fee24edd36d</string>
</dict>
</plist>